!!!
!!! XML

%html
  %head
    %link{:rel => "stylesheet", :type => "text/css", :href => '/stylesheets/style.css', :media => 'all'}
    %script{ :type => "text/javascript", :src => '/javascripts/jquery-1.2.6.min.js' }
    %script{ :type => "text/javascript", :src => '/javascripts/polisher.js' }
  %body
    #header
      %h3
        ruby gem polisher
      
      %ul{:id => "primary_nav"}
        %li
          %a{:href => url_for("/gems")}gems
        %li
          %a{:href => url_for("/sources")}sources

    %div{:style => "clear: both;"}
           
    #main
      = yield
    #footer/
