a{
  text-decoration: none;
  font-size: 85%;
  color: gray;
}

#header {
  width:  850px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0px;
  padding-bottom: 70px;
  border-bottom: 1px solid black;
}

#header h3{
  width: 30%;
  float: left;
  padding-top: 15px;
}

#header ul{
  float: right;
}

#header ul li{
  float: left;
  display: block;
  padding-left: 15px;
}

#main {
  width:  850px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
}

#main h1,
#main h3,
#main h5,
#main h6,
#main ul,
#main li{
  padding: 0 0 3px;
  margin: 0 15px;
  white-space:nowrap;
  overflow: hidden;
}

#main h1{
  font-size: 1.5em;
}

#main h2,
#main h4{
  font-size: 0.8em;
  display: inline;
}

#main ul li{
  list-style: none;
}

#main ul li:before {
  content: "\00BB \0020";
}
