a{
  text-decoration: none;
  font-size: 85%;
  color: gray;
}

form{
  padding-top: 5px;
  padding-left: 15px;
}

/* set fixed width of first column in form tables */
form tr > td:first-child{
  width: 150px;;
}

#header {
  width:  850px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0px;
  padding-bottom: 70px;
  border-bottom: 1px solid black;
}

#header h3{
  width: 30%;
  float: left;
  padding-top: 15px;
}

#header ul{
  float: right;
}

#header ul li{
  float: left;
  display: block;
  padding-left: 15px;
}

#main {
  width:  850px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
}

#main h5,
#main h6{
 display: inline;
}

#main h4{
  margin-top: 25px;
  margin-bottom: 0;
}

#main h6{
  padding-left: 15px;
}

#main ul{
  margin-top: 3px;
  margin-bottom: 3px;
  padding-left: 20px;
}

#main ul li{
  list-style: none;
}

#main ul li:before {
  content: "\00BB \0020";
}

#main ul li ul li{
  padding-top: 5px;
}

#main input#gem_version {
  width: 125px;
}
