%h4
  Gem Sources

%ul
  - @gem_sources.sort { |x,y| x.name <=> y.name }.each do |source|
    %li
      %h5
      = source.name
      %a{:href => url_for("/gem_sources/destroy/#{source.id}"), :class => 'delete_source_link'}
        (delete)

%h4
  New Source

%form{:id => 'create_gem_source_form', :method => "post", :action => url_for("/gem_sources/create")}
  %table
    %tr
      %td
        Name:
      %td
        %input{:type => "text", :id => "name", :name => "name"}

    %tr
      %td
        URI:
      %td
        %input{:type => "text", :id => "uri", :name => "uri"}

    %tr
      %td
        %input{:type => "submit", :value => "submit"}

%script{:type => "text/javascript"}
  :plain
    $('.delete_source_link').bind('click', function(e){
       c = confirm("delete gem source?")
       if(c){
         delete_request(this.href, function(result) { handle_request_result(result); });
       }
       return false;
    });
    $('#create_gem_source_form').submit(function(e){
      post_request(this.action,
                   ({ name : $('#name').val(), uri : $('#uri').val()}),
                   function(result) { handle_request_result(result) });
      return false;
    });
