<p>
<% if @error %> 
  Error creating gem <%= @error %>
<% else %>
  Gem <%= @gem.name %> successfully created
<% end %>
</p>

<p>Returning to the <%= link_to "index", :controller => :manage, :action => :list %></p>

<script type="text/javascript">
  setTimeout(function() { 
     window.location.href = "<%= url_for :controller => :manage, :action => :list %>"; }, 
     3000);
</script>
