<p>
<h4>New Gem Source</h4>
<form method="post" id="new_gem_source_form" action="<%= url_for :action => :create_gem_source %>">
  <table>
  <tr><td>Name:</td><td><input id="name" name="name" type="text"></input></td></tr>
  <tr><td>Base URI:</td><td><input id="uri" name="uri" type="text"></input></td></tr>
  <tr><td><input type="submit" value="submit"></input></td></tr>
  </table>
</form>
</p>
