%h1
  Sources

%ul
  - @sources.sort { |x,y| x.name <=> y.name }.each do |source|
    %li
      %h2
      = source.name
      %br/
      %h3
        versions
      %ul
        - source.versions.each do |version|
          - sprojects = source.project_source_versions_for_version(version)
          %li
            %h4
              = version
            %br/
            %h5
              projects
            %ul
              - sprojects.each do |ps|
                %h6
                  = ps.project.name
                  = ps.project_version
                  %br/
