- haml_tag(:projects) do
  - @projects.each do |project|
    - haml_tag(:project) do
      - haml_tag(:id) do
        = project.id
      - haml_tag(:name) do
        = project.name
      - haml_tag(:sources) do
        - project.sources.each do |source|
          - haml_tag(:source) do
            - haml_tag(:id) do
              = source.id
            - haml_tag(:uri) do
              = source.uri
