<h3><%= link_to "ruby gem polisher", :controller => :manage, :action => :list %></h3>
<ul id="primary_nav">
  <li><%= link_to "New Source", :action => "new_gem_source" %></li>
  <li><%= link_to "New Gem", :action => "new_gem" %></li>
  <li><%= link_to "New Search", :action => "new_gem_search_criteria" %></li>
  <li><%= link_to "New Action", :action => "new_event_handler" %></li>
  <!--<li><%= link_to "Log", :controller => "log", :action => "list" %></li>-->
</ul>
